{% extends "blog/base.html" %}
{% block content %}
<div class="container">
    <div class="row pt-5">
        <div class="col-sm-12 col-lg-3 mb-3 text-center">
            <img class="profile-image" src="{{ user.profile.image.url }}" alt="Hello">
        </div>
        <div class="col-sm-12 col-lg-9">
            <h1 class="font-weight-bold">{{user.first_name}} {{user.last_name}}</h1>
            <p>{{user.profile.description}}</p>
            {% if request.user ==  user %}
                <div class="links">
                    <a href="{% url 'update' %}" class="btn btn-sm btn-primary">Update Profile</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}