{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="landing bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-lg-6 text-center">
                <h1 class="text-white font-weight-bold display-3 mb-3">Update</h1>
            </div>
            
        </div>
        
    </div>
</div>
<div class="container bg-light mt-n5 p-5 rounded blog">
    <div class="row">
        <div class="col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{user_form|crispy}}
                {{profile_form|crispy}}
                <div class="form-group">
                    <button class="btn btn-outline-dark">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}