{% extends "blog/base.html" %}
{% block content %}
<div class="landing bg-dark">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-sm-12 col-lg-6 text-center">
                <h1 class="text-white font-weight-bold display-3 mb-3">Help others succeed in finance.</h1>
            </div>
        </div>
    </div>
</div>
<div class="container p-5 rounded ">
    {% if object_list.count > 0 %}
    {% for question in object_list %}
        <div class="row blog mb-5">
            <div class="col-lg-2 col-sm-12 text-center">
                <a class="mugshot-container mb-1" href="{% url 'profile' question.author.pk %}">
                    <div class="mugshot-img mb-2" style="background-image:url({{question.author.profile.image.url}})"></div>
                    <span>{{question.author.username}}</span>
                </a>
                <small class="text-muted">{{question.date_published|date:"d/m/Y h:i a"}}</small>
            </div>
            <div class="col-lg-10 col-sm-12">
                <div class="blog-information">
                    <h3 class="font-weight-bold mb-3">{{question.title}}</h3>
                    <a href="{% url 'question_detail' question.pk %}" class="font-weight-bold mb-3 d-inline-block">
                        Read Thread
                    </a>
                    <div class="update-edit">
                        {% if request.user.is_authenticated and request.user == question.author  %}
                            <a class="btn btn-sm btn-danger" href="{% url 'question_delete' question.pk %}">Delete</a>
                        {% endif %}
                    </div>    
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
        {% if page_obj.has_previous %}
            <div class="step-divider">
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            </div>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <div class="step-divider">
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            </div>
        {% endif %}
        </span>
    </div>
    {% else %}
        <h2 class="text-muted text-center">No queries posted yet...</h2>
        <p class="mt-3 h3 text-muted text-center">Ask a question? <a href="{% url 'question_create' %}">Click here</a></p>
    {% endif %}
</div>
{% endblock content %}